@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-checkbox {
  @apply appearance-none w-6 h-6 border-2 border-gray-500 rounded-md bg-dark-6 relative cursor-pointer;
}

.custom-checkbox:checked {
  @apply bg-blue-500 border-blue-500;
}

.custom-checkbox:checked::before {
  content: '✓'; /* Custom checkmark */
  @apply text-white absolute inset-0 flex items-center justify-center;
}

.custom-checkbox:focus {
  @apply outline-none ring-2 ring-blue-300;
}
