@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.custom-checkbox {
  @apply appearance-none w-8 h-8 border-4 border-primary rounded-full bg-backgroundlight cursor-pointer flex items-center justify-center;
}

.custom-checkbox:checked {
  @apply bg-primary;
}

.custom-checkbox:focus {
  @apply outline-none;
}
/* C:\programming projects\habit-tracker\src\assets\checkmark.svg */
